body {
  background-image: url("https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-div {
  background-color: #deb887;
}

h1,
h2,
p,
img {
  text-align: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
